<li>
    <div>
        <%= image_tag album_photo.content.url, alt: 'Foto do Album' %>
        <% if is_admin? %>
            <p>
                <%= link_to 'Excluir', album_photo_path(album_photo.id), method: :delete, remote: true %>
            </p>
        <% end %>
    </div>
</li>