<h1>Bichos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nascimento</th>
      <th>Sexo</th>
      <th>Descrição</th>
      <th>Observações</th>
      <th>Adotado?</th>
      <th>Dono</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>E-mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= l animal.birth %></td>
        <td><%= human_sex(animal.sex) %></td>
        <td><%= animal.description %></td>
        <td><%= animal.observations %></td>
        <td><%= t animal.adopted %></td>
        <td><%= animal.owner %></td>
        <td><%= animal.phone %></td>
        <td><%= animal.mobile_phone %></td>
        <td><%= animal.email %></td>
        <td><%= link_to 'Exibir', animal %></td>
        <td><%= link_to 'Editar', edit_animal_path(animal) %></td>
        <td><%= link_to 'Excluir', animal, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Animal', new_animal_path %>
