<h1>Álbum: <%= @album.name %></h1>
<%= image_tag @album.cover_photo.url if @album.cover_photo.present? %>
<p><%= l @album.date %></p>

<h2>Fotos</h2>

<ul id='album_photos'>
    <%= render @photos %>
</ul>

<% if is_admin? %>
    <%= form_with(model: @album_photo, id: 'new_album_photo') do |form| %>
    <div class="field">
        <%= form.label :content %>
        <%= form.file_field :content %>
    </div>
    <%= form.hidden_field :album_id, value: @album.id %>
    <%= form.submit %>
    <% end %>

    <%= link_to 'Editar', edit_album_path(@album) %> |
<% end %>

<%= link_to 'Voltar', albums_path %>
